//category view - not categories
.gallery-block {
	float: left;
	width: 100%;
	text-align: center;
	border: 0;
	margin: 0;
	background: none;

	> div {
		background: none;
		margin: 0 0 30px;
	}
	
	> div > div ~ div {
		margin: 3px 0 0;
	}
	
	a {	
		font-size: 14px;
		font-weight: 600;
		color: black;
		text-transform: lowercase;
	}
	
	img {
		box-shadow: 0px 4px 6px rgba(black, .4);
	}
	
	
	&:hover {
		border: 0;
		margin: 0;
		background: none;
		
		a {
			color: $red;
		}
	}
}

//overrides phocagallery css
#phocagallery .phocagallery-box-file-first {
	@include hasLayout;
}

// ordering and display num selects
.pg-inline {
	float: left;
	width: 100%;
	padding-top: 1em;
	&:first-child {
		padding-top: 0;
	}
}