//category view - not categories
.gallery-block {
	float: left;
	width: 100%;
	text-align: center;
	border: 0;
	margin: 0;
	padding: 0;
	background: none;
	zoom: 1;
	overflow: hidden;
	position: relative;
	
	> div:first-child {
		background: none;
		margin: 0 0 30px;
	}
	
	> div > div ~ div {
		margin: 3px 0 0;
		
		.ie7 &,
		.ie8 & {
			height: 35px;
		}
	}
	
	a {	
		font-size: 14px;
		font-weight: 600;
		display: block;
		color: black;
		text-transform: lowercase;
	}
	
	img {
		box-shadow: 0px 4px 6px rgba(black, .4);
		border: none;
		width: 100%; //NEED THIS FOR ie9
		max-width: none;
	}
	
	
	&:hover {
		border: 0;
		margin: 0;
		background: none;
		
		a {
			color: $red;
		}
	}
}

.phocagallery-box-file-second {
	position: relative !important;
	left: 0;
	top: 0;
}

.phocagallery-box-file-third {
	top: 0;
	left: 0;
	padding-top: 0;
}

// pagination
#phocagallery .pagination {
	display: none;
}

//displays number of photos in category
span.small {
	display: none;
}