/* elements */
body, select, input, textarea {
	color: #444; /* off black */
	font-family: "myriad-pro", Helvetica, Arial, sans-serif;
	font-size: .875em;
}

* { 
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;

	// FIXME: Change this to the right path
	*behavior: url(/templates/default/resources/boxsizing.htc); // IE7 only
}

/* Headers (h1, h2, etc) have no default font-size or margin; define those yourself */
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	text-transform: lowercase;
}

h1 { font-size: 2.142857143em; }
h2 { font-size: 1.285714286em; }
h3 { font-size: 1.285714286em; }
h4 { font-size: 1.4em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1.0em; }

h1 {
	font-family: "myriad-pro-condensed", "myriad-pro", Helvetica, Arial, sans-serif;
	font-weight: normal;
	margin: 32px 0 25px;
	padding-bottom: 20px;
	border-bottom: 1px solid $border;
}
a, a:active, a:visited {
	color: red;
	text-decoration: none;
}
a:hover {
	color: teal;
	text-decoration: underline;
}

img {
	max-width: 100%;
	height: auto;
}