/* elements */
body, select, input, textarea {
	color: #444; /* off black */
	font-family: "myriad-pro", Helvetica, Arial, sans-serif;
	font-size: .875em;
}

* { 
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;

	// FIXME: Change this to the right path
	*behavior: url(/templates/cyrheault/resources/boxsizing.htc); // IE7 only
}

/* Headers (h1, h2, etc) have no default font-size or margin; define those yourself */
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	text-transform: lowercase;
}

h1 {
	font-size: 2.142857143em;
	font-family: "myriad-pro-condensed", "myriad-pro", Helvetica, Arial, sans-serif;
	font-weight: normal;
	color: #000;
	margin: 32px 0 25px;
	padding-bottom: 20px;
	border-bottom: 1px solid $border;
}

h4 { font-size: 1.4em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1.0em; }

h2, h3, h4, h5, h6 {
	color: $red;
}

h2, h3 {
	font-size: 1.285714286em;
	font-weight: 300;
	margin-bottom: 7px;
}

.item-page p,
.module p {
	margin-top: 0;
}

a, a:active, a:visited {
	color: $red;
	text-decoration: none;
}
a:hover {
	color: $red;
	text-decoration: underline;
}

img {
	max-width: 100%;
	//width: auto;
	height: auto;
}

ul {
	margin-top: 0;
	padding-left: 0;
	list-style: none;
	
	li {
		padding-left: 20px;
		
		#bottom & {
			background: url('../images/bullet.png') left 5px no-repeat;
		}
	}
}