body {
	background: #000;
}

#wrapper {
	background-color: #FFF;
	
	.home & {
		background: url('../images/bg-body.jpg') top center no-repeat;
	}
}

#header {
	padding: 37px 0 44px;
	border-bottom: 1px solid $border;
}

#masthead {
	padding: 50px 0 0;
	
	.home & {
		margin-bottom: 370px;
	}
}

#main {
	padding-bottom: 60px;
}

#footer {
	font-size: 12px;
	color: $grey;
	background: url('../images/bg_footer.jpg') top center repeat-x;
	padding: 20px 0 40px;
	height: 216px;
}