body {
	background: #000;
}

#wrapper {
	background-color: #FFF;
	
	.home & {
		background: #FFF url('../images/bg-body.jpg') top center no-repeat;
	}
}

#header {
	border-top: 5px solid $red;
	padding-bottom: 35px;
}

#masthead {
	padding: 50px 0 0;
	border-top: 1px solid $border;
	
	.home & {
		margin-bottom: 370px;
	}
}

#main {
	padding-bottom: 60px;
}

#sidebar {
	float: left;
	width: 23.404255319%;
	padding-right: 10px;
	border-right: 1px solid $border;
}

#bottom {
	margin-top: 25px;
}

#footer {
	font-size: 12px;
	color: $grey;
	background: url('../images/bg_footer.jpg') top center repeat-x;
	padding: 20px 0 40px;
	height: 216px;
}

.wide1 {
	
}
.wide2 {
	float: left;
}