// @group hmenu
.hmenu {
	text-transform: lowercase;

	.menu {
		margin: 0;
		padding: 0;
	}

	.menu > li {
		display: inline-block;
		*display: inline;
		*zoom: 1;
		position: relative;
	
		padding: 0 5px;
	}

	.menu > li > a,
	.menu > li > span {
		display: block;

		span {

		}
	}

	ul ul { // submenu
		position: absolute;
		top: 100%;
		left: 0;
		margin: 0;
		padding: 0;

		li {
			white-space: nowrap;
		}
	}
}

.primary {
	font-size: 1.142857143em;
	
	a {	
		color: $red;
		padding-bottom: 4px;
		&:hover {
			color: #000;
			background: url('../images/bg_underline.png') bottom center repeat-x;
			text-decoration: none;
		}
	}
}

.secondary {
	float: right;
	
	.menu {
		
		li {
			padding: 0 10px;
			line-height: 12px;
			border-left: 1px solid $grey;
			&:first-child {
				border-left: 0;
			}
		}
	}

	a {
		color: $grey;
		&:hover {
			color: white;
			text-decoration: none;
		}
	}
}

// @group vmenu
.vmenu {

	.menu {
		margin: 0;
		padding: 0;
	}

	ul ul { // submenus
		margin: 0.5em 0 1em 1em;
		list-style: none;
	}
}
