// @group modules
.module {} // DO NOT TOUCH
.module h3 {} // DO TOUCH

.module.masthead-image {
	max-height: 244px;
	overflow: hidden;
	box-shadow: 0px 4px 6px rgba(black, .4);
}

#copyright {
	float: left;
	
	a {
		color: $grey;
		&:hover {
			color: $red;
			text-decoration: none;
		}
	}
}