// @group modules
.module {} // DO NOT TOUCH
.module h3 {} // DO TOUCH

.module.masthead-image {
	max-height: 244px;
	overflow: hidden;
}

#copyright {
	float: left;
	
	a {
		color: $grey;
		&:hover {
			color: $red;
			text-decoration: none;
		}
	}
}