// for all styles > 960px
.desktop-visible, .phone-hidden,
.tablet-hidden, .mobile-hidden
	{ display: block; }

.phone-visible, .tablet-visible,
.mobile-visible, .desktop-hidden
	{ display: none; }

div.category-block,
div.phocagallery-box-file {
	width: 33.333333%;
}