// styles
.clr, .clear { clear: both; }
.clearfix:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

.left { float: left; }
.right { float: right; }

.hidden { display: none; }

/* These selection declarations have to be separate
   No text-shadow: twitter.com/miketaylr/status/12228805301
   Also: hot pink! */
/* TODO Update selection BG color */
::-moz-selection{ background: $red; color:#fff; text-shadow: none; }
::selection { background: $red; color:#fff; text-shadow: none; }

.word1 {
	font-family: "myriad-pro-condensed", "myriad-pro", Helvetica, Arial, sans-serif;
	font-weight: bold;
	background: url('../images/bg_underline.png') bottom center repeat-x;
}

//for phocogallery "powered by" 
.remove {
	display: none;
}